@using FinalAssignment_Model.Models;
@model Course;

<h2>Update Course</h2>

<form asp-action="Edit">
	<div class="form-group">
		<label asp-for="courseName">Course Name</label>
		<input asp-for="courseName" class="form-control" />
		<span asp-validation-for="courseName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="courseDescription">Course Description</label>
		<textarea asp-for="courseDescription" class="form-control"></textarea>
		<span asp-validation-for="courseDescription" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="StartDate">Start Date</label>
		<textarea asp-for="StartDate" class="form-control"></textarea>
		<span asp-validation-for="StartDate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="EndDate">End Date</label>
		<textarea asp-for="EndDate" class="form-control"></textarea>
		<span asp-validation-for="EndDate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="AvailableSeats">Available Seats</label>
		<textarea asp-for="AvailableSeats" class="form-control"></textarea>
		<span asp-validation-for="AvailableSeats" class="text-danger"></span>
	</div>
	<div class="col-5 offset-3">
		<a asp-controller="Course" asp-action="Index" class="btn-primary btn form-control">Back To All Courses </a>
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
</form>